.button {
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}